section {
    min-height: 80vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5 ,h6 a, p {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
}

/* section 1 */

#section1 {
    height: 100vh;
}

.aa_container {
    background-color: white;
}

.authorisedAgent {
    width: 129px;
    display: block;
    margin: auto;
}

#section1 {
    background-color: rgb(2, 82, 162);
}

.adtLogo {
    width: 70px;
    display: block;
    margin: auto;
}

#section1
h1 {
    color: white;
    padding: 1rem 0 1rem;

}

#section1
h4 {
    color: white;
    padding: 1rem 0 1rem;
}

/* section 2 */

#section2 {
    background-color: rgb(2, 82, 162);
}

.alarmContainer {
    box-sizing: border-box;
    background-color: rgba(71, 121, 232, 1);
    border: 10px solid rgb(2, 82, 162);
}

#section2
h2 {
    color: white;
}

#section2
p {
    color: white;
}

.alarmSystem {
    width: 264px;
    display: block;
    margin: auto;
}

.alarmSystemTextsDiv {

}


/* section 3 */

.argumentDiv {
    background-color: rgb(100, 144, 242);
}

#section3 {
    background-color: white;
}

.argumentTitleBlack,
.argumentTextBlack {
    color: black;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
}

.argumentTitle {
    color: white;
}

.argumentTitle,
.argumentText {
    color: white;
    line-height: 1.2;
}

.trustPilot {
    width: 100%;
}

.nsiContainer {
    width: 80%;
}

.nsiGold {
    width: 65px;
}

.nsiText {
}

footer {
    background-color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;

}

.footerText {
    color: white;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}