section {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 450px;
}

h1, h2, h3, h4, h5 ,h6 a, p, label, button, input {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
}

/* banner */

.stickyBannerDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(253,255,28,1);
    cursor: pointer;
}

.freeQuoteLink {
    text-decoration: underline;
    color:  rgb(2, 82, 162);
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; 
    font-weight: 600; 
    font-stretch: condensed;
    font-size: 2.5rem;

}

/* section 1 */

#section1 {
    height: 88vh;
    background-color: rgb(2, 82, 162);
}

.aa_container {
    background-color: white;
}

.authorisedAgent {
    width: 129px;
    display: block;
    margin: auto;
}

.welcomeContainer {
    height: 100%;
}

.adtLogo {
    width: 70px;
}

#section1
h1 {
    color: white;
    padding: 1rem 0 1rem;

}

#section1
h4 {
    font-size: 1rem;
    color: white;
    padding: 1rem 0 2.5rem;
}

/* section 2 */

#section2 {
    background-color: rgb(2, 82, 162);
}

.alarmContainer {
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(71, 121, 232, 1);
    border: 10px solid rgb(2, 82, 162);
}

#section2
h2 {
    color: white;
}

#section2
p {
    color: white;
}

.alarmSystem {
    width: 264px;
    display: block;
    margin: auto;
}


/* section 3 */

.argumentDiv {
    background-color: rgb(100, 144, 242);
}

#section3 {
    background-color: white;
}

.argumentTitleBlack,
.argumentTextBlack {
    color: rgb(77, 81, 84);
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
}

.argumentTitle {
    color: white;
}

.argumentTitle,
.argumentText {
    color: white;
    line-height: 1.2;
}

.trustPilot {
    max-width: 600px;
    width: 100%;
}

.nsiContainer {
    max-width: 400px;
    width: 80%;
}

.nsiGold {
    width: 65px;
}

.nsiText {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
    color: rgb(77, 81, 84);
}


footer {
    background-color: rgb(77, 81, 84);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;

}

.footerText {
    color: white;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}